VITE_API_URL=https://servicosapp-api.onrender.com/api
VITE_LEGAL_APP_NAME=Servicos App
VITE_LEGAL_APP_URL=https://projnovo-back-front.vercel.app/
VITE_LEGAL_CONTROLLER_NAME=Servicos App
VITE_LEGAL_CONTROLLER_DOCUMENT=Documento sob atualizacao
VITE_LEGAL_SUPPORT_EMAIL=Mateusjaszumbek@hotmail.com
VITE_LEGAL_SUPPORT_WHATSAPP=41995365774
VITE_LEGAL_PRIVACY_EMAIL=Mateusjaszumbek@hotmail.com
VITE_LEGAL_ADDRESS=Endereco comercial sob atualizacao
