VITE_API_URL=https://52.207.193.4/api
VITE_LEGAL_APP_NAME=Servicos App
VITE_LEGAL_APP_URL=http://localhost:5173
VITE_LEGAL_CONTROLLER_NAME=Servicos App
VITE_LEGAL_CONTROLLER_DOCUMENT=Documento sob atualizacao
VITE_LEGAL_SUPPORT_EMAIL=Mateusjaszumbek@hotmail.com
VITE_LEGAL_SUPPORT_WHATSAPP=41995365774
VITE_LEGAL_PRIVACY_EMAIL=privacidade@seudominio.com
VITE_LEGAL_ADDRESS=Endereco comercial sob atualizacao
